emacs.d/custom.el
emacs.d/elpa
emacs.d/eshell
emacs.d/ido.last
emacs.d/recentf
emacs.d/places
emacs.d/projectile-bookmarks.eld
emacs.d/url
emacs.d/network-security.data
emacs.d/auto-save-list/
emacs.d/transient
vim/bundle
vim/swap
vim/undo
