# i3 config file (v4)
#
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

set $mod Mod4

workspace_layout stacking

font pango:monospace 8

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

focus_follows_mouse no

focus_on_window_activation none

# Toggle between us and se keymap
bindsym $mod+Shift+i exec "(setxkbmap -query | grep -q 'layout:\s\+us') && setxkbmap se || setxkbmap us && pkill -RTMIN+1 i3blocks"

bindsym $mod+m exec "~/.dotfiles/scripts/mute && pkill -RTMIN+2 i3blocks"
bindsym $mod+Shift+m exec "~/.dotfiles/scripts/unmute && pkill -RTMIN+2 i3blocks"

bindsym $mod+Escape exec "loginctl lock-session"
# TODO i3lock or xsecurelock?
# exec --no-startup-id xss-lock --transfer-sleep-lock -- i3lock --nofork --color 191A19
exec --no-startup-id xss-lock --transfer-sleep-lock -- XSECURELOCK_BACKGROUND_COLOR=#282828 XSECURELOCK_AUTH_BACKGROUND_COLOR=#282828 XSECURELOCK_AUTH_FOREGROUND_COLOR=#ebdbb2 xsecurelock
exec --no-startup-id xautolock -time 15 -locker "systemctl suspend" -detectsleep

exec --no-startup-id nm-applet

bindsym $mod+Return exec i3-sensible-terminal

bindsym $mod+Shift+q kill

bindsym $mod+d exec rofi -show run

bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

bindsym $mod+Shift+h move left 50px
bindsym $mod+Shift+j move down 50px
bindsym $mod+Shift+k move up 50px
bindsym $mod+Shift+l move right 50px

bindsym $mod+f fullscreen toggle

bindsym $mod+Shift+t floating toggle
bindsym $mod+t focus mode_toggle

bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2

# reload i3 config
bindsym $mod+Shift+c reload

set $exit_mode [s]hutdown, [l]ogout, [r]estart
mode "$exit_mode" {
  bindsym l exec i3-msg exit
  bindsym s exec systemctl poweroff
  bindsym r restart
  bindsym Escape mode "default"
}
bindsym $mod+Shift+e mode "$exit_mode"

bar {
        status_command i3blocks
}

# Always open Chrome on laptop screen
assign [class="Google-chrome"] 1

bindsym $mod+b exec "pkill chrome"
