# i3 config file (v4)
#
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

set $mod Mod4

workspace_layout stacking

font pango:monospace 8

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

focus_follows_mouse no

focus_on_window_activation none

# Toggle between us and se keymap
bindsym $mod+Shift+i exec "(setxkbmap -query | grep -q 'layout:\s\+us') && setxkbmap se || setxkbmap us && pkill -RTMIN+1 i3blocks"

bindsym $mod+m exec "~/.dotfiles/scripts/mute && pkill -RTMIN+2 i3blocks"
bindsym $mod+Shift+m exec "~/.dotfiles/scripts/unmute && pkill -RTMIN+2 i3blocks"

bindsym --release $mod+Escape exec "/usr/bin/xset dpms force standby"
exec --no-startup-id xss-lock --transfer-sleep-lock -- i3lock --nofork

bindsym $mod+Return exec i3-sensible-terminal

bindsym $mod+Shift+q kill

bindsym $mod+d exec rofi -show run

bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

bindsym $mod+Shift+h move left 50px
bindsym $mod+Shift+j move down 50px
bindsym $mod+Shift+k move up 50px
bindsym $mod+Shift+l move right 50px

bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
# bindsym $mod+Shift+space floating toggle
bindsym $mod+Shift+t floating toggle

# change focus between tiling / floating windows
# bindsym $mod+space focus mode_toggle
bindsym $mod+t focus mode_toggle

bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
# bindsym $mod+3 workspace 3
# bindsym $mod+4 workspace 4
# bindsym $mod+5 workspace 5
# bindsym $mod+6 workspace 6
# bindsym $mod+7 workspace 7
# bindsym $mod+8 workspace 8
# bindsym $mod+9 workspace 9
# bindsym $mod+0 workspace 10

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart

mode "exit: [l]ogout, [r]eboot, [s]hutdown" {
  bindsym l exec i3-msg exit
  bindsym r exec systemctl reboot
  bindsym s exec systemctl poweroff
  bindsym Escape mode "default"
  bindsym Return mode "default"
}
bindsym $mod+Shift+e mode "exit: [l]ogout, [r]eboot, [s]hutdown"

bar {
        status_command i3blocks
}

# Always open Chrome on laptop screen
assign [class="Google-chrome"] 1

bindsym $mod+b exec "pkill chrome"
