# Read `man 5 sway` for a complete reference.

set $mod Mod4

workspace_layout stacking

focus_follows_mouse no

focus_on_window_activation none

bindsym $mod+Return exec ~/.dotfiles/scripts/sensible-terminal

bindsym $mod+Shift+q kill

bindsym $mod+d exec wmenu-run

bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

bindsym $mod+s layout stacking

bindsym $mod+f fullscreen toggle

bindsym $mod+Shift+t floating toggle

bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2

# reload config
bindsym $mod+Shift+c reload

set $exit_mode [s]hutdown, [l]ogout, [r]estart
mode "$exit_mode" {
  bindsym l exec i3-msg exit
  bindsym s exec systemctl poweroff
  bindsym r restart
  bindsym Escape mode "default"
}
bindsym $mod+Shift+e mode "$exit_mode"

bar {
    # status_command i3blocks
    swaybar_command waybar

    # colors {
    #     statusline #ffffff
    #     background #323232
    #     inactive_workspace #32323200 #32323200 #5c5c5c
    # }
}

# TODO Fix this
### Idle configuration
#
# Example configuration:
#
# exec swayidle -w \
#          timeout 300 'swaylock -f -c 000000' \
#          timeout 600 'swaymsg "output * power off"' resume 'swaymsg "output * power on"' \
#          before-sleep 'swaylock -f -c 000000'
#
# This will lock your screen after 300 seconds of inactivity, then turn off
# your displays after another 300 seconds, and turn your screens back on when
# resumed. It will also lock your screen before your computer goes to sleep.

input "type:keyboard" {
  repeat_delay 200
  repeat_rate 30
  xkb_options caps:escape,grp:shifts_toggle
  xkb_layout us,se
}

# TODO Need this?
# bindsym $mod+shift+i input "type:keyboard" xkb_switch_layout next
# bindsym --release $mod+shift+i exec pkill -RTMIN+1 i3blocks

input "type:touchpad" {
  tap enabled
  natural_scroll enabled
}

# TODO Don't know if this is going to be useful
bindsym $mod+Shift+minus move scratchpad
bindsym $mod+minus scratchpad show

# TODO Should maybe fix mappings for these keys in tmk
# Special keys to adjust volume via PulseAudio
#bindsym --locked XF86AudioMute exec pactl set-sink-mute \@DEFAULT_SINK@ toggle
#bindsym --locked XF86AudioLowerVolume exec pactl set-sink-volume \@DEFAULT_SINK@ -5%
#bindsym --locked XF86AudioRaiseVolume exec pactl set-sink-volume \@DEFAULT_SINK@ +5%
#bindsym --locked XF86AudioMicMute exec pactl set-source-mute \@DEFAULT_SOURCE@ toggle
# Special key to take a screenshot with grim
#bindsym Print exec grim

include /etc/sway/config.d/*
