snippet #!
	#!/usr/bin/env ruby

snippet rr
	require 'rubygems'
	require 'bundler/setup'
	
	${0}

snippet r req require
	require '${1}'

snippet def
	def ${1:method_name}
		${0}
	end

snippet pry
	require 'pry'; binding.pry

snippet g gem
	gem '${1}', '~> ${0}'

snippet lw
	Logger::WARN

snippet li
	Logger::INFO

snippet tz
	ENV['TZ'] = 'UTC'

